@charset "utf-8";
/* CSS Document */
/* 全局公用的css样式 */
/*---------------------------------约束样式----------------------------------------*/
*{margin:0;padding:0;word-wrap:break-word}
* img{border:0}
* hr{border:1px dashed #d2d2d2}
body,h1,h2,h3,h4,h5,h6,td,th,tr{color:#333;font-weight:normal; font-size:12px}
a{text-decoration:none;outline:none;color:#666}
a:active{star:expression(this.onFocus=this.blur())}
a:focus{outline:none}
a:hover{color:#2799df}
ul li{list-style:none}
input,textarea,select,li,ul{outline:none}
textarea{resize: none}
.fr{float:right}
.fl{float:left}
.clear{width:100%; clear:both; height:1px; overflow:hidden}
.fl{float:left}
.fr{float:right}
.ov_hi{overflow:hidden}
.layout{width:1055px;margin:0 auto}
.ul_li{list-style:none}
.ov_hi{overflow:hidden}
body{background:url(../images/bj.jpg)}

.box_box{position:relative; z-index:999; width:100%; border-top:1px solid #4d380c; margin-top:3px}
.logo{text-align:center}
.top{height:55px; position:absolute; left:50%; margin-left:-527px; top:0}
.top_box{height:55px; line-height:55px; width:246px; background:url(../images/top.png) no-repeat center center; float:right; text-align:center; color:#221a09}
.top_box .p{font-size:16px; font-family:"微软雅黑"; margin:0 5px; padding-left:30px}
.top_box a{color:#221a09; margin:0 5px}
.nav{width:1175px; height:32px; line-height:32px; background:url(../images/nav_bj.png) no-repeat; margin:20px auto 0 auto; position:relative; z-index:11}
.nav a{display:block; height:32px; float:left; margin:0 30px; position:relative; text-align:center}
.nav a ins{display:block; text-decoration:none; color:#221a09; font-family:Arial, Helvetica, sans-serif; float:left; padding:0 5px}
.nav a ins.i{position:absolute; width:100%; height:28px; line-height:28px; z-index:1; opacity:0; background:#995C2F; color:#fff; font-size:14px;font-family:"微软雅黑";-moz-border-radius: 15px;-webkit-border-radius: 15px;border-radius:15px; border:2px solid rgba(255, 255, 255, 0.8);}
.nav a.hover ins{opacity:0}




.sliderbox{height:820px; overflow:hidden; width:100%; left:0; top:0; position:absolute}
.sliderbox ul{width:1920px;height:820px; position:absolute; top:0; margin-left:-960px; left:50%}
.wz_box{height:202px; margin:85px 0; background:url(../images/wz.png) no-repeat center 0; position:relative; z-index:99}
.sliderbox ul li{height:820px; width:310px; float:left; overflow:hidden; position:relative}
.sliderbox ul li .box{height:150px; position:absolute; background:url(../images/team_box.png); width:100%; z-index:99; left:0; bottom:55px}
.sliderbox ul li .zz{width:100%; height:820px; background:#000; opacity:0.5; z-index:2; position:absolute; left:0; top:0; display:none}

.sliderbox ul li .box a{display:block; height:94px; text-align:center;color:#ded2b9; overflow:hidden; margin:28px 0; position:relative}
.sliderbox ul li .box a .txt{position:absolute; width:100%; text-align:center; height:54px; top:50%; margin-top:-27px; overflow:hidden}
.sliderbox ul li .box a .t{font-size:22px;font-family:"微软雅黑"; height:30px; line-height:30px}
.sliderbox ul li .box a .tt{font-family:Arial, Helvetica, sans-serif; font-size:14px; height:25px; line-height:25px}
.sliderbox ul li .box a .c{height:39px; background:url(../images/c.png) no-repeat center center}
/*.sliderbox ul li .box a:hover .txt{height:94px; margin-top:-47px}

.sliderbox ul li.hover .box a .txt{height:94px; margin-top:-47px}*/
.sliderbox ul li.li{width:650px }
.sliderbox ul li.li.l a{width:260px; float:right}
.sliderbox ul li.li.r a{width:250px; float:left}